<!DOCTYPE html>
<html>
    <head>
        <title>Country Factsheet</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Gantari&display=swap" rel="stylesheet">   
        <script>
            const userAction = async (userInput) => {
                const response = await fetch('https://restcountries.com/v3.1/name/' + userInput)
                const jsonified = await response.json()
                return jsonified
            }

            function init() {
                const textBox = document.getElementById('text-box');    
                textBox.addEventListener('input', function() {
                    let json_response = userAction(textBox.value);
                    Promise.allSettled([json_response]).then(function(value) {
                        console.log(value);
                        value.sort((a, b) => a['population'] > b['population']);
                        <!-- console.log(value); -->
                    });
                });
            }

            document.addEventListener('readystatechange', function() {
                if (document.readyState === "complete") {
                    init();
                }
            });
       </script>
    </head>
    <body>
        <div id='left'>
            <div id='search-bar'>
                <form action="/" method="POST" enctype="multipart/form-data">
                    <input type="text" name="query" id="text-box" placeholder="Enter a word here" autocomplete="off">
                </form>
            </div>
        </div>
        <div id='right'>  
                     
        </div>
        <div id="footer">
            Powered by <a href="https://restcountries.com" target="_blank">Rest Countries API</a>
        </div>
    </body>
</html>
