<!DOCTYPE html>
<html>
    <head>
        <title>{{search_query.abbr}}</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='styles/styles.css') }}">
        <!-- fix aspect ratio issue --> 
        <link rel="icon" type="image/x-icon" href="{{ search_query.flag }}" sizes="180x180">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Gantari&display=swap" rel="stylesheet">   
        <script>
            function init() {
                const textBox = document.getElementById('text-box');    
                textBox.addEventListener('input', function() {
                    // read to a JSON file and read from that file 
                    console.log(textBox.value);
                    populateSearchResults(textBox.value);     
                });
            }

            function populateSearchResults(searchInput) {
                countryList =      
            }

            function loadWhenClicked() {


            }
           
            document.addEventListener('readystatechange', function() {
                if (document.readyState === "complete") {
                    init();
                }
            });
        </script>
    </head>
    <body>
        <div id='left'>
            <div id='search-bar'>
                <form action="/" method="POST" enctype="multipart/form-data">
                    <input type="text" name="query" id="text-box" placeholder="Enter a word here" autocomplete="off">
                    <input type="submit" id="submit-btn" value="Search">
                </form>
            </div>
        </div>
        <div id='right'>  
            <div id='search-result'>
                <div id='flag'>
                  <img src={{ search_query.flag }} alt="{{ search_query.name }}'s flag">
                </div>
                <div id='name'>
                    <h2>Official Name</h2>
                    <h3>English: {{ search_query.official_name_eng }}</h3>
                    <h3>French: {{ search_query.official_name_fre }}</h3> 
                    <h3>Spanish: {{ search_query.official_name_spa }}</h3>
                </div>
                <div id='location'>
                    <h2>Location</h2>
                    <h3>Continents:
                        {% for i in range(search_query.continents | length): %}
                            {{ search_query.continents[i] }} 
                        {% endfor %}
                    </h3>
                    <h3>Region: {{ search_query.region }} </h3>
                </div>
                <div id='people'>
                    
                </div>
            </div>
        </div>
        <div id="footer">
            Powered by <a href="https://restcountries.com" target="_blank">Rest Countries API</a>
        </div>
    </body>
</html>
